<mat-drawer-container class="drawer-container" autosize>
  <notifier-container></notifier-container>
  <app-header></app-header>
  <router-outlet></router-outlet>
</mat-drawer-container>

<!-- <section class="p-5 bg-black text-white">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <h1>Subscribe for a <span> 25% Discount</span></h1>
        <p>
          Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet
          mi vulputate consectetur. Donec auctor interdum purus, ac finibus
          massa bibendum nec.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="search-box">
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- TODO:
//  1- handle add to cart component ✔
//  2- adding quantity of products in cart ✔
//  3- handle total price with quantity of items ✔
//  4- handle total number of product in header component ✔
//  5- Delete icon to remove the product from the shopping cart list ✔
//  6- adding no item in cart ✔
//  7- navigate to detailed product ✔
//  8- implement carousel (owl-carousel) to detail product component
//  9- adding add to cart button from detail product component with quantity ✔
//  7- design check out component (Angular Bootstrap 5 or Angular Material)  ✔
//  8- implement reactive forms to check out ✔
//  9- adding section contact us and footer
    10- add styling grid items to shop component header (future)
//  12- add styling checkbox & price range ✔
//  13- add tooltip to add to cart image in product item Component ✔
//  14- adding hover effect to image item in shop component  ✔
//   15- adding navbar mobile view (side nav Angular Material)
*   16- enhancement the media screens and the Responsive for all screens
//  17- enhancement UI&UX show toast massage when click add to cart in product list component (notifier service) ✔
//   18- adding under development page
//  19- Listing the products list from a DB you can create on firebase and integrate with the API's
//  20- adding font & icons
//  21- adding gard to checkout component
//  21- saving cart products in local storage
//  22- adding angular universal
//  23- ....... (Authentication System)
//  24- adding gard to auth component
     24- adding page orders for each user (future)
//  25- adding description in detail-component
//  26- adding gard to detail-component (:id)
*   26- adding gard to auth-component
*   26- adding better images and description
//  28- adding spinner to load component ✔
    29- problem when fetch data and selected product (future)
    30- refresh in details component (future)
    31- local storage (future)
*   32- confirm password
*   32- notifier with responsive 
*   32- deploy project
-->
